@font-face {
  font-family: 'Avenir';
  src: url('../../static/fonts/AvenirNextCyr-BoldItalic.eot');
  src: local('Avenir Bold Italic'), local('AvenirNextCyr-BoldItalic'),
    url('../../static/fonts/AvenirNextCyr-BoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../static/fonts/AvenirNextCyr-BoldItalic.woff') format('woff'),
    url('../../static/fonts/AvenirNextCyr-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../static/fonts/AvenirNextCyr-Light.eot');
  src: local('Avenir Light'), local('AvenirNextCyr-Light'),
    url('../../static/fonts/AvenirNextCyr-Light.eot?#iefix')
      format('embedded-opentype'),
    url('../../static/fonts/AvenirNextCyr-Light.woff') format('woff'),
    url('../../static/fonts/AvenirNextCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../static/fonts/AvenirNextCyr-Demi.eot');
  src: local('Avenir Demi'), local('AvenirNextCyr-Demi'),
    url('../../static/fonts/AvenirNextCyr-Demi.eot?#iefix')
      format('embedded-opentype'),
    url('../../static/fonts/AvenirNextCyr-Demi.woff') format('woff'),
    url('../../static/fonts/AvenirNextCyr-Demi.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../static/fonts/AvenirNextCyr-ThinItalic.eot');
  src: local('Avenir Thin Italic'), local('AvenirNextCyr-ThinItalic'),
    url('../../static/fonts/AvenirNextCyr-ThinItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../static/fonts/AvenirNextCyr-ThinItalic.woff') format('woff'),
    url('../../static/fonts/AvenirNextCyr-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../static/fonts/AvenirNextCyr-Italic.eot');
  src: local('Avenir Italic'), local('AvenirNextCyr-Italic'),
    url('../../static/fonts/AvenirNextCyr-Italic.eot?#iefix')
      format('embedded-opentype'),
    url('../../static/fonts/AvenirNextCyr-Italic.woff') format('woff'),
    url('../../static/fonts/AvenirNextCyr-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../static/fonts/AvenirNextCyr-HeavyItalic.eot');
  src: local('Avenir Heavy Italic'), local('AvenirNextCyr-HeavyItalic'),
    url('../../static/fonts/AvenirNextCyr-HeavyItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../static/fonts/AvenirNextCyr-HeavyItalic.woff') format('woff'),
    url('../../static/fonts/AvenirNextCyr-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../static/fonts/AvenirNextCyr-MediumItalic.eot');
  src: local('Avenir Medium Italic'), local('AvenirNextCyr-MediumItalic'),
    url('../../static/fonts/AvenirNextCyr-MediumItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../static/fonts/AvenirNextCyr-MediumItalic.woff') format('woff'),
    url('../../static/fonts/AvenirNextCyr-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../static/fonts/AvenirNextCyr-LightItalic.eot');
  src: local('Avenir Light Italic'), local('AvenirNextCyr-LightItalic'),
    url('../../static/fonts/AvenirNextCyr-LightItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../static/fonts/AvenirNextCyr-LightItalic.woff') format('woff'),
    url('../../static/fonts/AvenirNextCyr-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../static/fonts/AvenirNextCyr-Medium.eot');
  src: local('Avenir Medium'), local('AvenirNextCyr-Medium'),
    url('../../static/fonts/AvenirNextCyr-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../../static/fonts/AvenirNextCyr-Medium.woff') format('woff'),
    url('../../static/fonts/AvenirNextCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Ultra';
  src: url('../../static/fonts/AvenirNextCyr-UltraLightIt.eot');
  src: local('Avenir Ultra Light Italic'), local('AvenirNextCyr-UltraLightIt'),
    url('../../static/fonts/AvenirNextCyr-UltraLightIt.eot?#iefix')
      format('embedded-opentype'),
    url('../../static/fonts/AvenirNextCyr-UltraLightIt.woff') format('woff'),
    url('../../static/fonts/AvenirNextCyr-UltraLightIt.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../static/fonts/AvenirNextCyr-Regular.eot');
  src: local('Avenir Regular'), local('AvenirNextCyr-Regular'),
    url('../../static/fonts/AvenirNextCyr-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../../static/fonts/AvenirNextCyr-Regular.woff') format('woff'),
    url('../../static/fonts/AvenirNextCyr-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Ultra';
  src: url('../../static/fonts/AvenirNextCyr-UltraLight.eot');
  src: local('Avenir Ultra Light'), local('AvenirNextCyr-UltraLight'),
    url('../../static/fonts/AvenirNextCyr-UltraLight.eot?#iefix')
      format('embedded-opentype'),
    url('../../static/fonts/AvenirNextCyr-UltraLight.woff') format('woff'),
    url('../../static/fonts/AvenirNextCyr-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../static/fonts/AvenirNextCyr-Heavy.eot');
  src: local('Avenir Heavy'), local('AvenirNextCyr-Heavy'),
    url('../../static/fonts/AvenirNextCyr-Heavy.eot?#iefix')
      format('embedded-opentype'),
    url('../../static/fonts/AvenirNextCyr-Heavy.woff') format('woff'),
    url('../../static/fonts/AvenirNextCyr-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../static/fonts/AvenirNextCyr-Bold.eot');
  src: local('Avenir Bold'), local('AvenirNextCyr-Bold'),
    url('../../static/fonts/AvenirNextCyr-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../../static/fonts/AvenirNextCyr-Bold.woff') format('woff'),
    url('../../static/fonts/AvenirNextCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../static/fonts/AvenirNextCyr-DemiItalic.eot');
  src: local('Avenir Demi Italic'), local('AvenirNextCyr-DemiItalic'),
    url('../../static/fonts/AvenirNextCyr-DemiItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../static/fonts/AvenirNextCyr-DemiItalic.woff') format('woff'),
    url('../../static/fonts/AvenirNextCyr-DemiItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../static/fonts/AvenirNextCyr-Thin.eot');
  src: local('Avenir Thin'), local('AvenirNextCyr-Thin'),
    url('../../static/fonts/AvenirNextCyr-Thin.eot?#iefix')
      format('embedded-opentype'),
    url('../../static/fonts/AvenirNextCyr-Thin.woff') format('woff'),
    url('../../static/fonts/AvenirNextCyr-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: 'Avenir' !default;
$font-family-monospace: 'BasisGrotesqueProMonoRegular', 'andale mono',
  'SFMono-Regular', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
  monospace !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: 1.25rem !default;
$font-size-sm: 0.875rem !default;
$font-size-xs: 0.75rem !default;

$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

$h1-font-size: 1.6rem !default;
$h2-font-size: 1.4rem !default;
$h3-font-size: 1.2rem !default;
$h4-font-size: 1.1rem !default;
$h5-font-size: 1.05rem !default;
$h6-font-size: 1rem !default;

// $headings-margin-bottom: ($spacer / 2) !default;
$headings-font-family: inherit !default;
$headings-font-weight: 600 !default;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;

$display1-size: 6rem !default;
$display2-size: 5.5rem !default;
$display3-size: 4.5rem !default;
$display4-size: 3.5rem !default;
