@import './colors.scss';

h1 {
  font-size: 3rem;
}

.home-link {
  img {
    width: 140px;
    padding: 0;
    margin: 0 50px 0 0;
  }
}

.home-link:hover {
  color: $red;
}

.inner-page {
  //margin-top: 40px;
}

.aboutIndexPage {
}

.innerHeader {
  background: url('/img/about_bg.jpg') no-repeat;
  height: 350px;
  padding-top: 110px;
  text-align: center;
  animation: fadeIn 0.4s forwards;
  //border-top: 2px solid $red;
  .inner-title {
    background: rgba(202, 30, 30, 0.8);
    color: $white;
    padding: 30px 50px;
    font-weight: 100;
    margin-bottom: 50px;
    display: inline-block;
    font-size: 48px;
  }
}

.content-wrp {
  margin-top: 50px;
  font-weight: 100;
  font-size: 1.2rem;
  p {
    font-size: 1.2rem;
  }
  h1 {
    margin-bottom: 50px;
  }
}

.aboutContent {
  animation: zoomInRight 0.5s forwards;
}

.mainMenuBtn {
  text-align: center;
  animation: fadeInDown 0.3s ease-out forwards;
}

.profile-wrp {
  position: relative;
  .profileNaviWrp {
    overflow-y: scroll;
    position: fixed;
    left: 0;
    width: 380px;
    z-index: 5;
    bottom: 0;
    top: 70px;
    border-right: 2px dashed $gray-100;
  }

  .profilePage {
    margin-left: 380px;
    font-weight: 100;
    p {
      font-size: 1.1rem;
    }

    h3 {
      background: $red;
      color: $white;
      padding: 20px 50px;
      font-size: 2rem;
      font-weight: 100;
      margin-bottom: 50px;
    }
  }

  .profile-img {
    //max-width: 50%;
  }

  .profileIntroTxt {
    padding: 20% 30px;
    p {
      line-height: 2;
    }
  }
}

.profile-nav {
  text-align: center;
  ul {
    padding: 0;
    margin: 0;
    li {
      padding: 30px;
      a {
        color: $gray-600;
        font-weight: 100;
        font-size: 1.6rem;
      }
    }
  }
}
