@import './colors.scss';

.welcome-page {
  padding-top: 150px;
  animation: zoomIn 1s;
}

.bigLogo {
  max-width: 600px;
  margin: 0px auto 20px auto;
}

.akfa-slogan {
  color: $gray-600;
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 120px;
}

.nav-large,
.nav-small {
  animation: fadeIn 0.5s 0.7s forwards;
  opacity: 0;
  margin: 20px 0;
  ul {
    padding: 0;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 30px;
      a {
        color: $gray-700;
        font-weight: bold;
        font-size: 1.5rem;
        display: block;
      }
      a:hover {
        color: $red;
        transition: all 0.3s ease-out;
        animation: pulse 0.5s;
      }
    }
  }
}

.nav-small ul li a {
  font-weight: 100;
}

.in-eng {
  margin-top: 50px;
  text-align: center;
  a {
    color: $gray-500;
    font-size: 0.8rem;
    border-bottom: 1px dashed;
  }
}

.welcome-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: $gray-600;
  text-align: center;
  line-height: 2;
  padding-bottom: 20px;
  animation: fadeIn 0.5s 1s forwards;
  opacity: 0;

  .ft-block {
    padding: 10px 30px;
    font-size: 0.8rem;
  }

  .phone {
    font-size: 1rem;
  }
}
