@import '../../styles/colors';

.navbar {
  background: $gray-100;
  padding-top: 10px;
  padding-bottom: 15px;
  animation: flipInX 0.5s forwards;
  .nav-link {
    color: $gray-900;
    font-weight: bold;
    font-size: 1.1rem;
  }

  .nav-item {
    margin-right: 25px;
    padding-top: 5px;
    &:hover {
      a {
        color: $red;
      }
      animation: pulse 0.5s;
    }
    &.active {
      a {
        color: $gray-600;
      }
    }
  }
  .langSwitcher {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      display: inline-block;
      margin-left: 10px;
      a {
        font-weight: 100;
        color: $gray-600;
        border-bottom: 1px dashed;
        padding-bottom: 2px;
      }
    }
  }
}
