@import '../../styles/colors';

.navbar {
  padding-bottom: 15px;
  animation: fadeIn 0.5s forwards ease-out;
  padding: 40px 20px !important;
  .nav-link {
    color: $gray-800;
    font-weight: 500;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .nav-item {
    margin-right: 25px;
    padding-top: 5px;
    &:hover {
      a {
        color: $red;
      }
      animation: pulse 0.22s ease-out;
    }
    &.active {
      a {
        color: $gray-600;
      }
    }
  }
  .langSwitcher {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      display: inline-block;
      margin: 0 20px;
      a {
        font-weight: 100;
        color: $gray-600;
        border-bottom: 1px dashed;
        padding-bottom: 2px;
      }
    }
  }

  .menu-button {
    margin-top: 12px;
    opacity: 0;
    animation: fadeInRight 0.3s 0.5s forwards ease-out;
    margin-left: 60px;
  }
}
